@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --color-main: #4502C7;
}

* {
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Container */
/* Big screen */
.container {
    width: 1184px;
    margin: 0 auto;
}

/* Small laptop screen */
@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

/* Big Tablet/ Horizontal Tablet Screen */
@media (max-width: 992px) {
    .container {
        width: 720px;
    }
}

/* Small Tablet / Horizontal Mobile Screen */
@media (max-width: 768px) {
    .container {
        width: 540px;
    }
}

/* Mobile (Vertical) */
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}
/* End Container */

/* Top Header */
.top-header {
    background-color: var(--color-main);
    padding: 10px 0;
}

.top-header .inner-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.top-header .inner-item {
    color: #FFFBEB;
    font-weight: 400;
    font-size: 14;
    display: flex;
    align-items: center;
}

.top-header i {
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 8px;
}

@media (max-width: 768px) {
    .top-header {
        display: none;
    }
}
/* End Top Header */

/* Header */
.header {
    padding: 12px 0;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-logo img {
    width: 218px;
}

.header .inner-menu > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}

.header .inner-menu > ul > li {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
}

.header .inner-menu > ul > li > a {
    font-weight: 500;
    font-size: 16px;
    color: #25282B;
}

.header .inner-menu > ul > li > a.inner-active,
.header .inner-menu > ul > li > a:hover {
    color: var(--color-main);
}

.header .inner-menu > ul > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: white;
    position: absolute;
    top: 100%;
    width: 280px;
    padding: 8px 0;
    border-radius: 0 0 10px 10px;
    display: none;
}

.header .inner-menu > ul > li:hover > ul {
    display: block;
}

.header .inner-menu > ul > li > ul > li > a {
    display: block;
    padding: 8px 22px;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-main);
}

.header .inner-menu > ul >li > ul > li > a.inner-active,
.header .inner-menu > ul >li > ul > li > a:hover {
    background-color: var(--color-main);
    color: #FFFFFF;
}

.header .inner-cart {
    display: flex;
    align-items: center;
}

.header .inner-cart .inner-icon-cart {
    width: 28px;
}

.header .inner-cart .inner-icon-arrow {
    width: 5px;
    margin-right: -0.5px;
}

.header .inner-cart div {
    border-radius: 3px;
    background-color: #FF3904;
    font-weight: 400;
    font-size: 10;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    padding: 0 5px;
}

.header .inner-button-menu {
    display: none;
}

@media (max-width: 1200px) {
    .header .inner-menu > ul {
        gap: 25px;
    }
}

@media (max-width: 992px) {
    .header .inner-menu {
        display: none;
    }

    .header .inner-button-menu {
        display: block;
    }

    .header .inner-button-menu img {
        width: 22px;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 15px 0;
    }

    .header .inner-logo img {
        width: 181px;
    }
}
/* End Header */

/* Section 1 */
.section-1 {
    padding: 106px 0;
    background-image: url(../images/demo/background-1.png);
    background-size: cover;
    background-position: center;
}

.section-1 .inner-wrap {
    width: 768px;
    margin: 0 auto;
}

.section-1 .inner-title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: var(--color-main);
}

.section-1 .inner-desc {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16;
    color: #25282B;
}

.section-1 .inner-form {
    background-color: #00000066;
    border-radius: 10px;
    padding: 40px;
}
/* End Section 1 */